@model HRS.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout - CP.cshtml";
}

<h2 class="breadcrumb" style="background-color:lightblue;text-align:center"> User Profile Details</h2>

<div class="breadcrumb" style="background-color:aliceblue">
    <h4>User</h4>
    <hr />
    <div class="container;breadcrumb" style=" ">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConfirmPassword)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConfirmPassword)
            </dd>
        </dl>

    </div>

    <div class=" " style=" text-align:center">
        <div class="btn btn-default"style="color:black">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        </div>
    </div>

    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
    </p>

</div>

