@model HRS.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout - CP.cshtml";
}

<style>
    h2 {
        background-color: lightblue;
        text-align: center;
    }
</style>

<h2>Edit User Profile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style=" background-color:aliceblue">
        <div class="container">
            <h4 class="breadcrumb" style="background-color:lightblue">User</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new { @class = " " })
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Enter user name.....", type = "text" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = " " })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter E-Mail address.... ", type = "text" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = " " })
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Enter password.....", type = "text" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = " " })
                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Enter confirm password....", type = "text" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="container">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</div>
