@model HRS.Models.Facilities

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout - CP.cshtml";
}

<h2 class="breadcrumb" style="background-color:lightblue;text-align:center">
    Create Hotel Facility
</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4 class="breadcrumb" style="background-color:lightblue">
        Facilities
        </h4>

        <hr />

        @Html.ValidationSummary(true)
        <div class="container" style="background-color:aliceblue">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = " " })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter hotel facility name..", type = "text" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = " " })
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Comments please", type = "text" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<div class="" style="background-color:aliceblue">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</div>
