@model HRS.Models.BookingInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout - CP.cshtml";
}

<h2 class="breadcrumb" style="background-color:lightblue;text-align:center">
    Details Booking Information
</h2>

<div class="container" style="background-color:lightblue">
    <h4>Booking Information</h4>
    <hr />
    <div class="breadcrumb">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CheckInTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CheckInTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CheckOutTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CheckOutTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>

        </dl>
    </div>

    <div class=" " style=" text-align:center">
        <div class="btn btn-default" style="color:black">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        </div>
    </div>
 
    <p >
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
    </p>
    <br/>

</div>

