@model HRS.Models.Gallary

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout - CP.cshtml";
}

<h2 class="breadcrumb" style="background-color:lightblue; text-align:center">Gallary Details</h2>

<div class="breadcrumb" style="background-color:lightblue">
    <h4 class="breadcrumb" style="background-color:lightblue">Gallary</h4>
    <hr />
    <div class="breadcrumb">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>
    <div class="" style="background-color:lightblue">

        <div class=" " style=" text-align:center">
            <div class="btn btn-default" style="color:black">
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
            </div>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        </p>
    </div>
</div>




