@model HRS.Models.Gallary

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout - CP.cshtml";
}

<h2 class="breadcrumb" style="background-color:lightblue; text-align:center">Edit Gallary</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="breadcrumb" style="background-color:lightblue">Gallary</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="container" style="background-color:aliceblue">
            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = " " })
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = " ", type = "text" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = " " })
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Comments here.... ", type = "text" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<div style="background-color:aliceblue">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</div>
